/* Geral  */

body {
    margin: 30px;
}

p {
    font-size: 20px;
}

/* Estilos tipograficos */

.exemplo {
    font-size: 30px;
}

/* Cabeçalho */

.navegation{ 
    /* estilos */
}

.logo {
       /* estilos */
}

.pie{
    /* estilos */
}